{% extends "BlogBundle::base.html.twig" %}

{% block pageTitle %}O autorze{% endblock %}

{% block contentTitle %}O autorze{% endblock %}

{% block content %}
    <div class="left-side">
        <p>Lorem ipsum dolor sit amet dolor. Maecenas malesuada quis, dui. In non eros et malesuada dolor. Maecenas nec
            sem quam, lobortis urna. Donec sollicitudin a, dolor. In nunc vel libero. Etiam ut nibh. Ut libero odio eu
            scelerisque rhoncus eget, cursus at, viverra a, volutpat a, tellus. Quisque at ipsum.</p>

        <p>Sed accumsan faucibus. Maecenas rhoncus. Praesent vitae ipsum pharetra accumsan sit amet dui. Aliquam erat
            velit nec tristique congue. Nam cursus, lacus eu sem eget commodo sit amet, vulputate faucibus. Maecenas
            lacus. In laoreet ligula placerat dui. Nullam feugiat dui, porta ornare, orci convallis posuere. In hac
            habitasse platea dictumst.</p>

        <p>Fusce tristique, urna eu nulla quis lectus urna tortor, dictum sed, vestibulum ipsum primis in dolor. Vivamus
            urna tellus malesuada enim vel neque magna felis cursus non, arcu. Cras interdum mi risus, dictum wisi
            magna, fermentum pellentesque sed, tempus ultrices, dui aliquam erat. Duis a leo luctus nisl. Etiam
            aliquam.</p>

        <p>Etiam at libero. Maecenas pharetra velit lectus nec augue. Praesent gravida massa sit amet, massa. Nulla
            ligula tristique congue. Donec libero laoreet venenatis consequat. Curabitur ultrices posuere nisl tristique
            lorem. Pellentesque et ultrices condimentum quam. Mauris a dolor. Praesent at sapien. Etiam varius risus
            ante congue at, mattis vel, dapibus.</p>

        <p>Phasellus fermentum libero a ante sit amet, consectetuer adipiscing elit. Nullam magna auctor tincidunt.
            Aliquam interdum vehicula. Aliquam tellus consectetuer adipiscing elit. Curabitur ut arcu. Pellentesque
            dolor ut pede. Vestibulum quam enim, sagittis urna. Nulla facilisi. Nullam laoreet, lacus vehicula
            dignissim. Donec vitae velit wisi, posuere cubilia Curae, Cras non.</p>
    </div> <!-- .left-side -->
{% endblock %}